.admin-dashboard {

    .card{

        &-icon{
            font-size: 2.5rem;
            text-align: center;
            transition: transform 1.2s;
            &:hover{
                transform: scale(1.5);
                transition: 1s;
            }
        }

        &-number{
            font-weight: 600;
            font-size: 1.5rem;
        }

        &-title {
            font-size:0.8rem;
        }
    }

    p {
        margin: 0;
    }

    hr {
        margin: 0.5rem;
    }

    a {
        font-size: 1rem;
        color: white;

        &:hover {
            color: white;
        }
    }
}

a {
    text-decoration: none !important;


    .shadow-book {

        .card-body h4{
            margin: 0;
            padding: 0;
        }

        &:hover {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        }
    }

}
